{% extends "TfePlatformSocialeBundle::index.html.twig" %}

{% block title %}
    Plateforme Sociale
{% endblock %}

{% block header %}
    {{ parent() }}

    <style rel="stylesheet">
        #panelCategory
        {
            background-color: #404040;

        }
        #panelCategory:hover
        {
            background-color: #1e90ff;

        }
    </style>


{% endblock %}

{% block body %}
    <ol class="breadcrumb">
    <li><a href="{{ path('tfe_forum_homepage') }}">Forums</a></li>
    <li class="active">{{ category.title }}</li>
</ol>



        <div>
            <a href="" class="btn btn-default" onclick="setCategoryId({{ category.id }});" data-toggle="modal" data-target="#thread_modal">Add Thread</a>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading" id="panelCategory">
                <div class="clearfix">
                    <h3 class="panel-title pull-left">{{  category.title}}</h3>
                    <!-- bouton supprimer groupe discussion-->
                    {% if app.user.userPoint > 10 or is_granted('ROLE_SUPER_ADMIN')  %}
                    <a id="" href="#" data-toggle="modal" data-target="#category_delete" class="btn btn-danger btn-xs pull-right delete_category">Supprimer Categorie</a>
                        {% endif %}
                </div>

                <div class="clearfix">
                    <h3 class="panel-title"></h3>
                </div>

            </div>
            <div class="panel-body panel-list-group">
                <div class="list-group">
                {%  for thread in threads  %}
                    <a  href="{{ path('tfe_forum_thread', {'id': thread.id}) }}" class="list-group-item">{{ thread.title }}</a>
                {% endfor %}
                </div>
            </div>
        </div>

    <!-- modal d'ajout d'un thread de discussion -->

    <div class="modal fade" id="thread_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">New Thread</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form)}}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.title,"") }}
                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.title) }}
                        </div>
                        <div class="form-group">
                        {{ form_label(form.body,"") }}
                        {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.body) }}
                        <input type="hidden" name="categoryId" id="categoryId"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

        <!-- modal de suppression d'un groupe de discussion -->

        <div class="modal fade" id="category_delete" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Delete Category</h4>
                    </div>
                    <div class="modal-body">
                        <h3>Are you sure you want to delete this category.</h3>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <a href="{{ path('tfe_delete_category', {'categoryId' :  category.id}) }}" type="button" class="btn btn-primary" id="btn_delete_category">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}