{% extends "TfePlatformSocialeBundle::index.html.twig" %}

{% block title %}
     Plateforme Sociale
{% endblock %}

{% block header %}
     {{ parent() }}

      <style rel="stylesheet">
      #panelGroup
      {
           background-color: #404040;

      }
      #panelGroup:hover
      {
           background-color: #1e90ff;

      }
     </style>


{% endblock %}

{% block body %}
<h1>Futur forum</h1>
     {#
     Pour utiliser le système de commentaire de FOSCommentBundle il faut copier cette où l'on vx que le form apparaisse. Sait pas
     encore exactement comment celà fct
     {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}
     #}

     <div>
          <a href="" class="btn btn-default" data-toggle="modal" data-target="#group_form">Ajouter un groupe</a>
     </div>
{% for group in groups %}
<div class="panel panel-primary">
     <div class="panel-heading" id="panelGroup">

          <div class="clearfix">
               <h3 class="panel-title pull-left">{{  group.title}}-{{  group.id}}</h3>
               <!-- bouton supprimer et ajouter groupe discussion-->
               {% if app.user.userPoint > 10 %}
               <a id="group_{{  group.id}}" href="" onclick="setGroupId({{ group.id }});" data-toggle="modal" data-target="#category_modal" class="btn btn-success btn-xs pull-right new_category">Nouvelle catégorie</a>
               <a id="" href="#" data-toggle="modal" onclick="setGroupId({{ group.id }});" data-target="#group_delete" class="btn btn-danger btn-xs pull-right delete_group">Supprimer le groupe</a>
                    {% endif %}
          </div>

          <div class="clearfix">
               <h3 class="panel-title pull-left"></h3>
          </div>

     </div>
     <div class="panel-body panel-list-group">
          <div class="list-group">
               {% for cat in group.category %}
                    <script type="text/javascript">
                        // alert({{ cat.title }});
                    </script>

                    <a  href="{{ path('tfe_forum_category', {'id': cat.id}) }}" class="list-group-item">{{ cat.title }}</a>

               {% endfor %}

          </div>
     </div>
</div>
{% endfor %}




     <!-- modal d'ajout d'un groupe de discussion -->

     <div class="modal fade" id="group_form" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
               <div class="modal-content">
                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                         </button>
                         <h4 class="modal-title">New Group</h4>
                    </div>
                    <div class="modal-body">
                         {{ form_start(form, {'method': 'post'}) }}
                         {{ form_errors(form) }}

                              <div class="form-group">
                                   {{ form_label(form.title,"") }}
                                   {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                   {{ form_errors(form.title) }}
                                   <p></p>

                              </div>



                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
               </div>
          </div>
     </div>


     <!-- modal d'ajout d'une category de discussion -->

     <div class="modal fade" id="category_modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
               <div class="modal-content">
                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                         </button>
                         <h4 class="modal-title">New Category</h4>
                    </div>
                    <div class="modal-body">
                         {{ form_start(form1, {'method': 'post','action':'category_add'}) }}
                         {{ form_errors(form1) }}

                              <div class="form-group">
                                   {{ form_label(form1.title,"Label") }}
                                   {{ form_widget(form1.title, {'attr': {'class': 'form-control'}}) }}
                                   {{ form_errors(form1.title) }}
                                   <input type="hidden" name="groupId" id="groupId"/>
                                   <p></p>

                              </div>


                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         {{ form_widget(form1.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_rest(form1) }}
                    {{ form_end(form1) }}
               </div>
          </div>
     </div>

     <!-- modal de suppression d'un groupe de discussion -->

     <div class="modal fade" id="group_delete" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
               <div class="modal-content">
                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                         </button>
                         <h3>Etes-vous sûr de vouloir supprimer ce groupe de discussion ?</h3>
                    </div>
                    <div class="modal-body">
                         {{ form_start(form2, {'method': 'post','action':'groupe/delete'}) }}
                         {{ form_errors(form2) }}
                         <div class="form-group">
                              <input type="text" name="groupIdToDel" id="groupIdToDel"/>
                         </div>

                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                         {{ form_widget(form2.save,{'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_rest(form2) }}
                    {{ form_end(form2) }}



               </div>
          </div>
     </div>


{% endblock %}