{% extends "TfePlatformSocialeBundle::index.html.twig" %}

{% block title %}
    Plateforme Sociale
{% endblock %}


{% block body %}
    <div class="clearfix">
    <ol class="breadcrumb pull-left">
    <li><a href="{{ path('tfe_forum_homepage') }}">Forums</a></li>
    <li><a href="{{ path('tfe_forum_category', {'id': thread.category.id}) }}"> {{ thread.category.title }}</a></li>
<li class="active">{{ thread.title }}</li>
</ol>

<a href="{{ path('tfe_delete_thread', {'idThread' :  thread.id}) }}" class="btn btn-danger pull-right"> Supprimer le topic </a>

</div>
<div class="well">
    <h1></h1>
    <h4> By  {{ thread.author }}: on {{ thread.createdAt|date("d/m/Y H:i e") }} </h4> <!-- $author pointe dans ForumController  function thread($id) qui récupère le nom de l'utilisateur qui a écris le msg.-->
    <hr style="border-color: #d58512">
    <p>{{ thread.body }}</p>
    {% if thread.author.signature != ""  %}
        <p style="color:red;">{{ thread.author.signature }}</p>
    {% endif %}
    <hr style="border-color: #d58512"/>

</div>

{% for comment in comments %}
<div class="well">
    <h4> By  {{ comment.author }}:  on {{ comment.createdAt|date("d/m/Y H:i e") }} </h4> <!-- $author pointe dans ForumController  function thread($id) qui récupère le nom de l'utilisateur qui a écris le msg.-->
    <hr style="border-color: #d58512"/>
    <p>{{ comment.body }}</p>
    {% if comment.author.signature != ""  %}
        <p style="color:red;">{{ comment.author.signature }}</p>
    {% endif %}
    <a href="{{ path('tfe_delete_comment', {'idComment': comment.id ,'idThread' :  thread.id}) }}"  class="btn btn-danger">Supprimer le commentaire</a>
</div>
{% endfor %}


    <div class="container">
        <div class="fos_user_user_show">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default" >
                        <div class="panel-heading">Créer un nouveau commentaire</div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    {{ form_start(form, {'method': 'post'}) }}
                                    {{ form_errors(form) }}

                                    <div class="form-group">
                                        {{ form_label(form.body,"Commentaire", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.body, {'attr': {'class': 'form-control ckeditor'}}) }}
                                        </div>
                                        {{ form_errors(form.body) }}
                                    </div>

                                    <div class="col-md-6 col-md-offset-4">
                                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_widget(form)  }}
    {{ form_end(form) }}

{% endblock %}