{% extends "TfePlatformSocialeBundle::index.html.twig" %}

{% block title %}
    Communauté - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="form-inline text-center" >
        <div class="form-group">
            {{ form_start(form2, {'method': 'post'}) }}
            {{ form_label(form2.searchUser,"rechercher un utilisateur", {'label_attr': {'class': 'control-label '}}) }}
                <div class="input-group">
                    {{ form_widget(form2.searchUser, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form2.searchUser) }}
                </div>
        </div>
        {{ form_widget(form2.rechercherUser, {'attr': {'class': 'btn btn-primary glyphicon glyphicon-search'}}) }}
            {{ form_rest(form2) }}
            {{ form_widget(form2)  }}
            {{ form_end(form2) }}
    </div>

<div class="form-inline text-center" style="margin-top: 10px">
    <div class="form-group">
    {{ form_start(form, {'method': 'post'}) }}
    {{ form_label(form.orderby,"Trier par ordre", {'label_attr': {'class': 'control-label'}}) }}
             <div class="input-group">
                {{ form_widget(form.orderby, {'attr': {'class': 'form-control col-xs-3'}}) }}
                {{ form_errors(form.orderby) }}
            </div>
    </div>
    {{ form_widget(form.trier, {'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_rest(form) }}
    {{ form_widget(form)  }}
    {{ form_end(form) }}
    </div>


    <!-- On rows -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Voir Profil</th>
                <th></th>
                <th>Abonnement flux de publications</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>
                        <a class="btn btn-primary" href="{{ path('tfe_user_communaute_profil', {'id': user.id}) }}">Profil</a>
                </td>
                <td></td>
                <td>
                    {% set Unfound = 0 %}
                    {% for abonnement in abonnementsRepo  %}
                        {% if abonnement.suiviId == user.id %}
                            <a class="btn btn-danger" href="{{ path('tfe_user_communaute_desabonnement', {'suiviId': user.id ,'suiveurId' :  app.user.id}) }}">Se désabonner</a>
                            {% set Unfound = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if Unfound == 0 %}
                        <a class="btn btn-primary" href="{{ path('tfe_user_communaute_abonnement', {'suiviId': user.id, 'suiveurId' :  app.user.id}) }}">S'abonner</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>

      {% endfor %}

    </table>
    <!--affiche numéro de page -->
    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}
