{% extends "TfePlatformSocialeBundle::index.html.twig" %}

{% block title %}
    Page des publications - {{ parent() }}
{% endblock %}

{% block styleHeader %}
    {{ parent() }}
    <style rel="stylesheet">/* obligé de faire comme sa car l'autre csss va pas'*/
        .bordurePublication
        {
            height: auto;
            border: 2px solid #F5871F;
            margin-left: 350px;
            margin-right: 350px;
        }
        .titrePublication
        {
            color: #0088CC;
            padding-top: 15px;
            padding-bottom: 30px;
        }
        .contenuPublication
        {
            height: auto;
            padding-bottom: 30px;
            word-wrap: break-word;
        }

    </style>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="fos_user_user_show">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default" >
                        <div class="panel-heading">Créer une nouvelle publication</div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    {{ form_start(form, {'method': 'post'}) }}
                                    {{ form_errors(form) }}

                                    <div class="form-group">
                                        {{ form_label(form.titrePublication,"Titre", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                                        <div class="col-md-6">
                                            {{ form_widget(form.titrePublication, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        {{ form_errors(form.titrePublication) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.motsCles,"Mot clès (séparer par des ';') ", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                                        <div class="col-md-6">
                                            {{ form_widget(form.motsCles, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        {{ form_errors(form.motsCles) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.genres,"Genres", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                                        <div class="col-md-6">
                                            {{ form_widget(form.genres) }}
                                        </div>
                                        {{ form_errors(form.genres) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.contentPublication,"Publication", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.contentPublication, {'attr': {'class': 'form-control ckeditor'}}) }}
                                        </div>
                                        {{ form_errors(form.contentPublication) }}
                                    </div>

                                    <div class="col-md-6 col-md-offset-4">
                                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_widget(form)  }}
    {{ form_end(form) }}


    <div class="form-inline text-center" >
        <div class="form-group">
            {{ form_start(form2, {'method': 'post'}) }}
            {{ form_label(form2.keywords,"Rechercher via mots clés", {'label_attr': {'class': 'control-label '}}) }}
            <div class="input-group">
                {{ form_widget(form2.keywords, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form2.keywords) }}
            </div>
        </div>
        {{ form_widget(form2.RechercheKeywors, {'attr': {'class': 'btn btn-primary glyphicon glyphicon-search'}}) }}
        {{ form_rest(form2) }}
        {{ form_widget(form2)  }}
        {{ form_end(form2) }}
    </div>

    {% for publications in publication %}
        <div>
            <dl class="text-center bordurePublication">
                {% if publications.user.id == app.user.id %}
                <a href="{{ path('tfe_platform_sociale_update_publication', {'id' :  publications.id}) }}" class="btn btn-primary btn-sm">Editer</a>
                <a href="" onclick="setPublicationId({{ publications.id }});" class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#delete_pub_modal">Supprimer</a>
                    {% endif %}
                <dt class="titrePublication">{{ publications.titrePublication }}</dt>
                <dd class="contenuPublication">{{ publications.contentPublication|raw|nl2br}}</dd> <!--lenl2br permet d'afficher les retour à la ligne et raw permet d'afficher de bien afficher les rendu sans balise html pour le visiteur-->
                <dd>Auteur : {{ publications.user.username }}</dd>
                {% for genre  in  publications.genres%}
                <dd>{{genre.nameGenre }}</dd>
                {% endfor %}
                {% for comment in publications.comment %}
                <dd>
                    <dl class="bordurePublication">
                        {% if  comment.user.id == app.user.id %}
                            <a href="{{ path('tfe_platform_sociale_publication_updateComment', {'id' :  comment.id}) }}" class="btn btn-primary btn-sm">Editer</a>
                        {% endif %}

                        {% if  comment.user.id == app.user.id or publications.user.id == app.user.id%}
                            <a href="{{ path('tfe_platform_sociale_publication_deleteComment', {'id' :  comment.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                        {% endif %}
                        <dt>Commentaire de {{comment.user.username}}</dt>
                        <dd>{{ comment.content }}</dd>
                        <dd>A la date du {{ comment.createdAt|date("d/m/Y H:i", "Europe/Paris")}}</dd>
                    </dl>
                </dd>


                {% endfor %}
            {% if publications.user.id != app.user.id %}
                <a href="{{ path('tfe_platform_sociale_user_add_point', {'id' : publications.user.id}) }}" class="btn btn-info btn-sm">+1</a>
            {% endif %}
                <dd><a id="publication_{{  publications.id}}" href="" onclick="setPublicationId({{ publications.id }});" data-toggle="modal" data-target="#comment_modal" class="btn btn-success btn-xs pull-right new_category">Commenter</a></dd>
        </dl>

        </div>
        {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(publication) }}
    </div>

    <div class="modal fade" id="comment_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Fermer</span>
                    </button>
                    <h4 class="modal-title">Le commentaire</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form3) }}
                    {{ form_errors(form3) }}

                    <div class="form-group">
                        {{ form_label(form3.content,"Label") }}
                        {{ form_widget(form3.content, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form3.content) }}
                        <input type="hidden" name="publicationId" id="publicationId"/>
                        <input type="hidden" name="url" id="url" value="TfePlatformSocialeBundle:Publications:publications.html.twig"/>
                        <input type="hidden" name="route" id="route" value="1"/>
                        <p></p>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {{ form_widget(form3.Commenter, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_rest(form3) }}
                {{ form_end(form3) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete_pub_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Fermer</span>
                    </button>
                    <h4 class="modal-title">supprimer</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form4) }}
                    {{ form_errors(form4) }}

                    <div class="form-group">
                        <input type="hidden" name="idPub" id="delPublicationId"/>
                        <p></p>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {{ form_widget(form4.Supprimer, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_rest(form4) }}
                {{ form_end(form4) }}
            </div>
        </div>
    </div>


    {{'[b]Bold text[/b]'|bbcode_filter('my_default_filter')}}
    {{'[u]Underlined text[/u]'|bbcode_filter('my_default_filter')}}
    {{'[i]Italic text[/i]'|bbcode_filter('my_default_filter')}}
{% endblock %}